{% extends 'nav.html' %}
{% load static %}

{% block title %}
    <title>RDMOTIV - Other Services</title>
{% endblock %}

{% block boody_containt %}

<nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <!-- Logo on the left for mobile -->
            <a class="navbar-brand d-lg-none" href=" {% url 'rdmotiv' %}"> 
                <span>RD</span>MOTIV
            </a>

            <!-- Toggler on the right for mobile -->
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar content -->
            <div class="collapse navbar-collapse" id="navbarContent">
                <!-- Left Menu -->
                <ul class="navbar-nav d-flex flex-row nav-underline">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'service' %}">Service Enquiry</a>
                    </li>
                </ul>

                <!-- Logo -->
                <a class="navbar-brand px-2 d-none d-lg-block" href="{% url 'rdmotiv' %}">
                    <span>RD</span>MOTIV
                </a>

                <!-- Right Menu -->
                <ul class="navbar-nav d-flex flex-row nav-underline">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle is-active" href="#" id="servicesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Our Services
                        </a>
                        <ul class="dropdown-menu nav-underline" aria-labelledby="servicesDropdown">
                            <li><a class="dropdown-item nav-link" href="{% url 'ceramic_graphene_coatings' %}">Ceramic and Graphene coatings</a></li>
                            <li><a class="dropdown-item nav-link" href="{% url 'paint_protection_films' %}">Paint protection films</a></li>
                            <li><a class="dropdown-item nav-link" href="{% url 'body_shop_denting_painting' %}">Body-shop (Denting & Painting)</a></li>
                            <li><a class="dropdown-item nav-link" href="{% url 'wrap_jobs' %}">Wrap Jobs</a></li>
                            <li><a class="dropdown-item nav-link" href="{% url 'detailing_and_interior_cleaning' %}">Detailing and Interior cleaning</a></li>
                            <li><a class="dropdown-item nav-link" href="{% url 'insurance_claims' %}">Insurance Claims</a></li>
                            <li><a class="dropdown-item nav-link active" href="{% url 'other_services' %}">Other Services</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Breadcrumb -->
    <div class="container mt-5"> 
        <nav style="--bs-breadcrumb-divider: '>>';"> 
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'rdmotiv' %}" style="color: #ff3333; text-decoration: none;">Home</a></li>
            <li class="breadcrumb-item active text-white" >Other Services</li>
            </ol>
        </nav>
    </div>
    
<!-- Content -->
<div class="container mt-5 mb-5">
    <h2>Other Services</h2>
    <p>We even offer other crucial services such as:</p>
    <ul>
        <li>Under-body anti-rust coatings</li>
        <li>Windshield and all glass polishing</li>
        <li>Seat covers and Door pad leather upholstery</li>
        <li>Steering, Gear knob and Gear bellow covers</li>
        <li>7D mats with custom stitchings</li>
        <li>Headlight and taillight restorations</li>
        <li>Body Washing and Vacuuming</li>
        <li>Headliners replacement</li>
    </ul>
</div>

{% endblock %}